body {
  background-color: #3b227b;
}
.App {
  background-color: white;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}
#to-do-form input {
  background-color: rgb(114, 130, 201);
  border: 0;
  width: 200px;
  padding: 0 20px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  margin: 20px;
}
#to-do-form input::placeholder {
  color: rgba(202, 250, 250, 0.517);
}
#to-do-form input:focus,
#to-do-form button:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(56, 54, 147);
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
